head
    link(rel="stylesheet", href="/css/style.css")
    script(src="/javascripts/index.js" type="module") 
    <link rel="icon" type="image/png" href="https://icons-for-free.com/iconfiles/png/512/bread+bread+loaf+food+toast+icon-1320168012160404253.png"/>
    title Breaddit
body
    nav
        ul
            li: a(href="/users") Users
            li: a(href="/posts") Posts 
            li: a(href="/") Home
            li: a(href="/users/signup") Signup
            li: a(href="/users/login") Login
            if locals.authenticated
                li: a(href="/users/logout") Logout
    block content
    footer