include utils.pug

head 
    title= title
body
    table
        thead
            tr
                th Username
                th Email
                th Password
                th Favorite Bread
        tbody
            +userRow(user)