extends layout.pug

include utils.pug

block content
    body
        table
            thead
                tr
                    th Username
                    th Email
                    th Password
                    th Favorite Bread
                    th Link
            tbody
                each user in usersRes
                    +userRow(user)